.cases-main-block>a[class^="icon"],.cases-main-block .main-case,.cases-main-block .roulette>#sound-point,.cases-main-block .roulette .roulette-slider,#prize .modal-content
{
    -webkit-background-size:100%;
    -moz-background-size:100%;
    -o-background-size:100%;
    background-size:100%;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
}
.cases-main-block
{
    width:100%;
    border-radius:6px;
    padding-bottom:30px;
    margin-bottom:30px;
    height:auto;
    overflow:hidden;
    position:relative;
    text-align: center;
    background: #2b2b2b;
}
.cases-main-block .live-list-wrap{
    overflow: hidden;
    margin-bottom: 20px;
}
.cases-main-block .live-list-wrap .live-list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    position: relative;
    box-shadow: 0px 0px 3px 0px #828ada;
}

.cases-main-block .live-list-wrap .live-list:after, .cases-main-block .live-list-wrap .live-list:before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100px;
    z-index: 1;
    text-decoration: inherit;
    vertical-align: inherit;
}
.cases-main-block .live-list-wrap .live-list:before{
    left: 0;
    background: -webkit-gradient(linear,left top,right top,from(#2b2b2b),to(transparent));
    background: -webkit-linear-gradient(left,#2b2b2b,transparent);
    background: -o-linear-gradient(left,#2b2b2b,transparent);
    background: linear-gradient(90deg,#2b2b2b,transparent);
}
.cases-main-block .live-list-wrap .live-list:after{
    right: 0;
    background: -webkit-gradient(linear,right top,left top,from(#2b2b2b),to(transparent));
    background: -webkit-linear-gradient(right,#2b2b2b,transparent);
    background: -o-linear-gradient(right,#2b2b2b,transparent);
    background: linear-gradient(270deg,#2b2b2b,transparent);
}

.live-link-gold{
    background-image:url(../../../../app/modules/module_page_open_case/assets/img/bg-gold.jpg);
    background-position: center;
}
.live-link-red{
    background-image:url(../../../../app/modules/module_page_open_case/assets/img/bg-red.jpg);
    background-position: center;
}
.live-link-pink{
    background-image:url(../../../../app/modules/module_page_open_case/assets/img/bg-pink.jpg);
    background-position: center;
}
.live-link-purple{
    background-image:url(../../../../app/modules/module_page_open_case/assets/img/bg-violet.jpg);
    background-position: center;
}
.live-link-blue{
    background-image:url(../../../../app/modules/module_page_open_case/assets/img/bg-blue.jpg);
    background-position: center;
}
.live-link-turquoise{
    background-image:url(../../../../app/modules/module_page_open_case/assets/img/bg-turquoise.jpg);
    background-position: center;
}
.live-link-grey{
    background-image:url(../../../../app/modules/module_page_open_case/assets/img/bg-grey.jpg);
    background-position: center;
}

.cases-main-block .live-list-wrap .live-list .live-item{
    -ms-flex-negative: 0;
    flex-shrink: 0;
    position: relative
}
.live-item+.live-item .live-link {
    border-left: 1px solid #2b2b2b;
}

.cases-main-block .live-list-wrap .live-list .live-item .live-link{
    position: relative;
    color: #e6dfd5;
    font-size: 12px;
    -webkit-transition: none;
    transition: none;
    width: 124.5px;
    height: 91px;
    display: block;
    text-align: center;
    padding-bottom: 15px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.cases-main-block .live-list-wrap .live-list .live-item .live-link:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    -webkit-transition: opacity .6s ease;
    transition: opacity .6s ease;
    opacity: 0;
 }
 .cases-main-block .live-list-wrap .live-list .live-item .live-link:hover:before{
    opacity:1
 }
.cases-main-block .live-list-wrap .live-list .live-item .live-link .live-inner-wrap{
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: -webkit-transform .5s ease;
    transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
    transition: transform .5s ease,-webkit-transform .5s ease;
}

.cases-main-block .live-list-wrap .live-list .live-item .live-link:hover .live-inner-wrap{
    -webkit-transform:rotateY(180deg);
    transform:rotateY(180deg)
}

.cases-main-block .live-list-wrap .live-list .live-item .live-link .live-inner-wrap .live-inner {
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    height: 100%;
    padding-top: 7px;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.cases-main-block .live-list-wrap .live-list .live-item .live-link .live-inner-wrap .live-inner .live-image-wrap .live-image {
    height: 62px;
}
.cases-main-block .live-list-wrap .live-list .live-item .live-link .live-inner-wrap .live-inner .live-title {
    margin-top: -2px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0 8px;
}
.cases-main-block .live-list-wrap .live-list .live-item .live-link .live-inner-wrap .live-hover {
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    height: 100%;
    padding-top: 5px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.cases-main-block .live-list-wrap .live-list .live-item .live-link .live-inner-wrap .live-hover:after {
    content: "";
    position: absolute;
    top: -8px;
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 8px solid #292931;
    left: 50%;
    margin-left: -9px;
 }
.cases-main-block .live-list-wrap .live-list .live-item .live-link .live-inner-wrap .live-hover .live-case-image {
    margin: 5px 0;
}
.cases-main-block .live-list-wrap .live-list .live-item .live-link .live-inner-wrap .live-hover .live-case-image img {
    height: 53px;
}

.cases-main-block>a[class^="icon"]
{
    width:30px;
    height:30px;
    display:block;
    position:absolute;
    opacity:0.2;
    cursor:pointer;
    top: 120px;
}

.cases-main-block>a[class^="icon"].icon-open-cases
{
    background-image:url(../../../../app/modules/module_page_open_case/assets/img/icon-inventory.png);
    right:50px;
}

.cases-main-block>a[class^="icon"].icon-back-to-cases
{
    background-image:url(../../../../app/modules/module_page_open_case/assets/img/icon-back.png);
    left:50px;
}

.cases-main-block>a[class^="icon"]:hover
{
    opacity:.5;
}

.cases-main-block h2
{
    min-height: 47px;
    padding-top: 10px;
    text-transform: uppercase;
    font-size: 20px;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}



@media (max-width: 991.99px)
{
    .cases-main-block h2
    {
        font-size: 15px;
    }
}

.cases-main-block .info-block
{
    position:relative;
    background:url(../../../../app/modules/module_page_open_case/assets/img/info-block-bg.jpg);
    padding:20px;
    margin-bottom:10px;
    border-radius:4px;
    box-shadow:0 0 96px -15px #c64f47;
}

.cases-main-block .info-block>h3
{
    color:#64ca00;
    text-shadow:0 2px 4px rgba(133,214,0,0.25);
}

.cases-main-block .info-block>ul{
    margin-left:15px;
    margin-bottom:0;
    color:#fff
}

.cases-main-block .info-block>p
{
    color:#fff;
}
.cases-main-block .main-case
{
    background:url(../../../../app/modules/module_page_open_case/assets/img/case-bg.png);
    min-height:253px;
    line-height:253px;
    text-align:center;
    max-width:600px !important;
    width:100%;
    display:block;
    margin:0 auto;
    margin-bottom:20px;
}

.cases-main-block .main-case img
{
    max-width:300px;
}

@media (max-width: 991.99px)
{
    .cases-main-block .main-case
    {
        min-height:150px;
        line-height:150px;
        background:transparent;
    }
    .cases-main-block .main-case img
    {
        max-width:100%;
    }
    .cases-main-block button.open-case
    {
        font-size:12px;
    }
}

.cases-main-block button.open-case{
    padding: 0 15px;
    height: 45px;
    line-height: 42px;
    box-shadow: 0 0px 9px 0px var(--sidebar-gradient-1);
    border-radius: 3px;
    text-transform: uppercase;
    border: 0;
    color: var(--sidebar-gradient-1);
    font-weight: bold;
    font-size: 14px;
    margin: 30px auto;
    display: inline-table;
    cursor: pointer;
    margin-right: 15px;
    background: none;
    text-shadow: 0 0 20px var(--sidebar-gradient-1);
    border: 1px solid var(--span-color);
}

.cases-main-block div#open-sum{
    width: 140px;
    margin: 0 auto;
    padding: 0 15px;
    height: 40px;
    line-height: 42px;
    text-transform: uppercase;
    border: 0;
    font-weight: bold;
    font-size: 18px;
    text-shadow: 0px 0px 20px #f27b26;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 300px;
    color: #fff;
}
.cases-main-block button.open-case:hover
{
    background:#1f1f1f;
}
.cases-main-block button.open-case[disabled]
{
    background-image:linear-gradient(135deg, #1e252fc7 0%, #485390ad 46%, #1e252fba 100%) !important;
    opacity:0.5;
}
.cases-main-block button.open-case-fast[disabled]
{
    background-image:linear-gradient(135deg, #1e252fc7 0%, #485390ad 46%, #1e252fba 100%) !important;
    opacity:0.5;
}
@media (max-width: 991.99px)
{
    .cases-main-block button.open-case
    {
        font-size:16px;
    }
}
.cases-main-block .roulette
{
    padding:27px 27px 36px;
    position:relative;
    border-radius:26px;
    overflow:hidden;
    width:100%;
    height:243px;
    max-width:650px !important;
    margin:0 auto;
}
.cases-main-block .roulette>#sound-point
{
    width:30px;
    height:30px;
    display:block;
    position:absolute;
    opacity:0.2;
    right:2px;
    top:7px;
    cursor:pointer;
}
.cases-main-block .roulette>#sound-point.sound-on
{
    background-image:url(../../../../app/modules/module_page_open_case/assets/img/icon-sound-on.png);
}
.cases-main-block .roulette>#sound-point.sound-off
{
    background-image:url(../../../../app/modules/module_page_open_case/assets/img/icon-sound-off.png);
}
.cases-main-block .roulette>#sound-point:hover
{
    opacity:.5;
}
.cases-main-block .roulette .roulette-slider
{
    padding:0px 30px 0px;
    position:relative;
    background-position:50% 50%;
    height:172px;
}
.cases-main-block .roulette .roulette-slider .r-left
{
    position:absolute;
    left:-24px;
    top:-8px
    ;bottom:0;
    display:block;
    background:url(../../../../app/modules/module_page_open_case/assets/img/r-left.png) no-repeat;
    width:73px;
    height:394px;
}
.cases-main-block .roulette .roulette-slider .r-right
{
    position:absolute;
    right:-37px;
    top:3px;
    bottom:0;
    display:block;
    background:url(../../../../app/modules/module_page_open_case/assets/img/r-right.png) no-repeat;
    width:83px;
    height:379px;
}
.cases-main-block .roulette .roulette-slider .r-side
{
    left:16px;
    width:calc(50% - 16px);
    top:4px;
    bottom:0;
    position:absolute;
    background:url(../../../../app/modules/module_page_open_case/assets/img/r-side.png) repeat-x;
}
.cases-main-block .roulette .roulette-slider .r-side2
{
    right:14px;
    width:calc(50% - 14px);
    top:4px;
    bottom:0;
    position:absolute;
    background:url(../../../../app/modules/module_page_open_case/assets/img/r-side.png) repeat-x;
}
.cases-main-block .roulette .roulette-slider .top-arr
{
    z-index: 1;
    background:url(../../../../app/modules/module_page_open_case/assets/img/top-arr.png) no-repeat;
    background-position: top;
    width:132px;
    height:50%;
    position:absolute;
    left:50%;
    top:4px;
    -ms-transform:translate(-50%, 0);
    transform:translate(-50%, 0);
}
.cases-main-block .roulette .roulette-slider .bottom-arr
{
    z-index: 1;
    background:url(../../../../app/modules/module_page_open_case/assets/img/bottom-arr.png) 0 0 no-repeat;
    background-position-x: 1px;
    background-position-y: bottom;
    width:132px;
    height:50%;
    position:absolute;
    left:50%;
    bottom:-4px;
    -ms-transform:translate(-50%, 0);
    transform:translate(-50%, 0);
}
.cases-main-block .roulette .roulette-slider .roulette-area
{
    overflow:hidden;
    width:calc( 100% + 30px );
    height:100%;
    margin-left:-14px;
}
.cases-main-block .roulette .roulette-slider .roulette-area #roulette
{
    height:150px;
    width:190px;
    top:15px;
    position:relative;
    margin:0 auto;
}
.cases-main-block .roulette .roulette-slider .roulette-area #roulette .roulette-inner
{
    transition:0s linear;
    position:relative;
    top:0;
    white-space:nowrap;
    height:100%;
    width:100%;
}
.cases-main-block .roulette .roulette-slider .roulette-area #roulette .roulette-inner .subject-block
{
    box-shadow:none !important;
}
#cases>p{
    color:#64ca00;
    text-shadow:0 2px 4px rgba(133,214,0,0.25);
    font-size:20px;
    margin-left:15px;
    font-weight:bold;
}
#cases .case-block
{
    overflow: hidden;
    display: inline-block;
    position: relative;
    height: 250px;
    width: 240px;
    margin: 5px;
}
#cases .case-block a.case-link
{
    display: block;
    color: #fff;
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
    position: relative;
    padding: 5px 0;
    width: 100%;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
#cases .case-block a.case-link:hover
{
    color:#cac8ff;
    text-shadow: 0 0 19px #e0dbf7;
    text-decoration: none;
}
#cases .case-block a.case-link:hover span.case-img-wrap
{
    -webkit-transform:translate3d(0,-7px,0);transform:translate3d(0,-7px,0);
}

#cases .case-block span.case-img-wrap
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    line-height: 1;
    -webkit-transition: -webkit-transform .3s ease;
    transition: -webkit-transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease,-webkit-transform .3s ease;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    position: relative;
    height: 150px;
}

#cases .case-block span.case-img-wrap .case-img
{
    max-width: 85%;
    max-height: 250px;
}

#cases .case-block span.case-span-wrap
{
    display: block;
    margin-top: -25px;
    position: relative;
    z-index: 1;
}

#cases .case-block span.case-span-wrap .case-price
{
    display: inline-block;
    text-align: center;
    font-size: 18px;
    color:#f9f9f9;
    font-weight: 700;
    position: relative;
    padding: 8px 17px 8px 7px;
    width: 115px;
}
#cases .case-block span.case-span-wrap .case-name
{
    display: block;
    text-align: center;
    font-size: 18px;
    padding-top: 15px;
    text-transform: uppercase;
}

#cases .case-block span.case-span-wrap .case-price:before
{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
    background-color: var(--span-color);
    -webkit-transform: skewX(-15deg);
    transform: skewX(-15deg);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    border-radius: 1px;
    -webkit-box-shadow: 0 18px 24px rgba(0,0,0,.31);
    box-shadow: 0 18px 24px rgba(0,0,0,.31);
}



#subjects .subject-block,#roulette .subject-block,#wins .subject-block
{
    overflow:hidden;
    display:inline-block;
    position:relative;
    height:140px;
    width:180px;
    margin:5px;
    box-shadow:0 5px 10px rgba(0,0,0,0.25);
}
.subject-block .b-top,
.subject-block .b-bottom,
.subject-block .b-left,
.subject-block .b-right
{
    position:absolute;
    display:block
}
.subject-block .b-top
{
    top:0;
    left:0;
    right:0;
    height:2px;
}
.subject-block .b-bottom
{
    bottom:0;
    left:0;
    right:0;
    height:2px;
}
.subject-block .b-left
{
    left:0;
    top:0;
    bottom:0;
    width:2px;
}
.subject-block .b-right
{
    right:0;
    top:0;
    bottom:0;
    width:2px;
}
/*GOLD*/
#subjects .subject-block.gold,#roulette .subject-block.gold,#wins .subject-block.gold
{
    background-image:url(../../../../app/modules/module_page_open_case/assets/img/bg-gold.jpg);
    background-position: center;
    background-size: contain;
}
#subjects .subject-block.gold>.b-top,#roulette .subject-block.gold>.b-top,#wins .subject-block.gold>.b-top
{
    background:linear-gradient(to right, #725a39 0%, #d8b38a 50%, #725a39 100%);
}
#subjects .subject-block.gold>.b-bottom,#roulette .subject-block.gold>.b-bottom,#wins .subject-block.gold>.b-bottom
{
    background:linear-gradient(to right, #725a39 0%, #d8b38a 50%, #725a39 100%);
}
#subjects .subject-block.gold>.b-left,#roulette .subject-block.gold>.b-left,#wins .subject-block.gold>.b-left
{
    background:linear-gradient(to bottom, #725a39 0%, #d8b38a 50%, #725a39 100%);
}
#subjects .subject-block.gold>.b-right,#roulette .subject-block.gold>.b-right,#wins .subject-block.gold>.b-right
{
    background:linear-gradient(to bottom, #725a39 0%, #d8b38a 50%, #725a39 100%);
}
#subjects .subject-block.gold .subject>span:nth-child(1),#roulette .subject-block.gold .subject>span:nth-child(1),#wins .subject-block.gold .subject>span:nth-child(1)
{
    color:#d8b38a;
}

/*RED*/
#subjects .subject-block.red,#roulette .subject-block.red,#wins .subject-block.red
{
    background-image:url(../../../../app/modules/module_page_open_case/assets/img/bg-red.jpg);
    background-position: center;
    background-size: contain;
}
#subjects .subject-block.red>.b-top,#roulette .subject-block.red>.b-top,#wins .subject-block.red>.b-top
{
    background:linear-gradient(to right, #c23459 0%, #ec8492 50%, #c23459 100%);
}
#subjects .subject-block.red>.b-bottom,#roulette .subject-block.red>.b-bottom,#wins .subject-block.red>.b-bottom
{
    background:linear-gradient(to right, #c23459 0%, #ec8492 50%, #c23459 100%);
}
#subjects .subject-block.red>.b-left,#roulette .subject-block.red>.b-left,#wins .subject-block.red>.b-left
{
    background:linear-gradient(to bottom, #c23459 0%, #ec8492 50%, #c23459 100%);
}
#subjects .subject-block.red>.b-right,#roulette .subject-block.red>.b-right,#wins .subject-block.red>.b-right
{
    background:linear-gradient(to bottom, #c23459 0%, #ec8492 50%, #c23459 100%);
}
#subjects .subject-block.red .subject>span:nth-child(1),#roulette .subject-block.red .subject>span:nth-child(1),#wins .subject-block.red .subject>span:nth-child(1)
{
    color:#ec8492;
}
/*purple*/
#subjects .subject-block.purple,
#roulette .subject-block.purple,
#wins .subject-block.purple
{
    background-image:url(../../../../app/modules/module_page_open_case/assets/img/bg-violet.jpg);
    background-position: center;
    background-size: contain;
}
#subjects .subject-block.purple>.b-top,#roulette .subject-block.purple>.b-top,#wins .subject-block.purple>.b-top
{
    background:linear-gradient(to right, #580299 0%, #c555ff 50%, #580299 100%);
}
#subjects .subject-block.purple>.b-bottom,#roulette .subject-block.purple>.b-bottom,#wins .subject-block.purple>.b-bottom
{
    background:linear-gradient(to right, #580299 0%, #c555ff 50%, #580299 100%);
}
#subjects .subject-block.purple>.b-left,#roulette .subject-block.purple>.b-left,#wins .subject-block.purple>.b-left
{
    background:linear-gradient(to bottom,#580299 0%, #c555ff 50%, #580299 100%);
}
#subjects .subject-block.purple>.b-right,#roulette .subject-block.purple>.b-right,#wins .subject-block.purple>.b-right
{
    background:linear-gradient(to bottom, #580299 0%, #c555ff 50%, #580299 100%);
}
#subjects .subject-block.purple .subject>span:nth-child(1),#roulette .subject-block.purple .subject>span:nth-child(1),#wins .subject-block.purple .subject>span:nth-child(1)
{
    color:#c555ff;
}

/*blue*/
#subjects .subject-block.blue,#roulette .subject-block.blue,#wins .subject-block.blue
{
    background-image:url(../../../../app/modules/module_page_open_case/assets/img/bg-blue.jpg);
    background-position: center;
    background-size: contain;
}
#subjects .subject-block.blue>.b-top,#roulette .subject-block.blue>.b-top,#wins .subject-block.blue>.b-top
{
    background:linear-gradient(to right, #3634c2 0%, #5655d3 50%, #3634c2 100%);
}
#subjects .subject-block.blue>.b-bottom,#roulette .subject-block.blue>.b-bottom,#wins .subject-block.blue>.b-bottom
{
    background:linear-gradient(to right, #3634c2 0%, #5655d3 50%, #3634c2 100%);
}
#subjects .subject-block.blue>.b-left,#roulette .subject-block.blue>.b-left,#wins .subject-block.blue>.b-left
{
    background:linear-gradient(to bottom, #3634c2 0%, #5655d3 50%, #3634c2 100%);
}
#subjects .subject-block.blue>.b-right,#roulette .subject-block.blue>.b-right,#wins .subject-block.blue>.b-right
{
    background:linear-gradient(to bottom, #3634c2 0%, #5655d3 50%, #3634c2 100%);
}
#subjects .subject-block.blue .subject>span:nth-child(1),#roulette .subject-block.blue .subject>span:nth-child(1),#wins .subject-block.blue .subject>span:nth-child(1)
{
    color:#5655d3;
}

/*turquoise*/
#subjects .subject-block.turquoise,#roulette .subject-block.turquoise,#wins .subject-block.turquoise
{
    background-image:url(../../../../app/modules/module_page_open_case/assets/img/bg-turquoise.jpg);
    background-position: center;
    background-size: contain;
}
#subjects .subject-block.turquoise>.b-top,#roulette .subject-block.turquoise>.b-top,#wins .subject-block.turquoise>.b-top
{
    background:linear-gradient(to right, #457dff 0%, #2afdf4 50%, #457dff 100%);
}
#subjects .subject-block.turquoise>.b-bottom,#roulette .subject-block.turquoise>.b-bottom,#wins .subject-block.turquoise>.b-bottom
{
    background:linear-gradient(to right, #457dff 0%, #2afdf4 50%, #457dff 100%);
}
#subjects .subject-block.turquoise>.b-left,#roulette .subject-block.turquoise>.b-left,#wins .subject-block.turquoise>.b-left
{
    background:linear-gradient(to bottom, #457dff 0%, #2afdf4 50%, #457dff 100%);
}
#subjects .subject-block.turquoise>.b-right,#roulette .subject-block.turquoise>.b-right,#wins .subject-block.turquoise>.b-right
{
    background:linear-gradient(to bottom, #457dff 0%, #2afdf4 50%, #457dff 100%);
}
#subjects .subject-block.turquoise .subject>span:nth-child(1),#roulette .subject-block.turquoise .subject>span:nth-child(1),#wins .subject-block.turquoise .subject>span:nth-child(1)
{
    color:#2afdf4;
}


/*GREY*/
#subjects .subject-block.grey,#roulette .subject-block.grey,#wins .subject-block.grey
{
    background-image:url(../../../../app/modules/module_page_open_case/assets/img/bg-grey.jpg);
    background-position: center;
    background-size: contain;
}
#subjects .subject-block.grey>.b-top,#roulette .subject-block.grey>.b-top,#wins .subject-block.grey>.b-top
{
    background:linear-gradient(to right, #3e3e3e 0%, #efefef 50%, #3e3e3e 100%);
}
#subjects .subject-block.grey>.b-bottom,#roulette .subject-block.grey>.b-bottom,#wins .subject-block.grey>.b-bottom
{
    background:linear-gradient(to right, #3e3e3e 0%, #efefef 50%, #3e3e3e 100%);
}
#subjects .subject-block.grey>.b-left,#roulette .subject-block.grey>.b-left,#wins .subject-block.grey>.b-left
{
    background:linear-gradient(to bottom, #3e3e3e 0%, #efefef 50%, #3e3e3e 100%);
}
#subjects .subject-block.grey>.b-right,#roulette .subject-block.grey>.b-right,#wins .subject-block.grey>.b-right
{
    background:linear-gradient(to bottom, #3e3e3e 0%, #efefef 50%, #3e3e3e 100%);
}
#subjects .subject-block.grey .subject>span:nth-child(1),#roulette .subject-block.grey .subject>span:nth-child(1),#wins .subject-block.grey .subject>span:nth-child(1)
{
    color:#efefef;
}

/*PINK*/
#subjects .subject-block.pink,#roulette .subject-block.pink,#wins .subject-block.pink
{
    background-image:url(../../../../app/modules/module_page_open_case/assets/img/bg-pink.jpg);
    background-position: center;
    background-size: contain;
}
#subjects .subject-block.pink>.b-top,#roulette .subject-block.pink>.b-top,#wins .subject-block.pink>.b-top
{
    background:linear-gradient(to right, #d006b7 0%, #fb79df 50%, #d006b7 100%);
}
#subjects .subject-block.pink>.b-bottom,#roulette .subject-block.pink>.b-bottom,#wins .subject-block.pink>.b-bottom
{
    background:linear-gradient(to right, #d006b7 0%, #fb79df 50%, #d006b7 100%);
}
#subjects .subject-block.pink>.b-left,#roulette .subject-block.pink>.b-left,#wins .subject-block.pink>.b-left
{
    background:linear-gradient(to bottom, #d006b7 0%, #fb79df 50%, #d006b7 100%);
}
#subjects .subject-block.pink>.b-right,#roulette .subject-block.pink>.b-right,#wins .subject-block.pink>.b-right
{
    background:linear-gradient(to bottom, #d006b7 0%, #fb79df 50%, #d006b7 100%);
}
#subjects .subject-block.pink .subject>span:nth-child(1),#roulette .subject-block.pink .subject>span:nth-child(1),#wins .subject-block.pink .subject>span:nth-child(1)
{
    color:#fb79df;
}

#subjects .subject-block>.subject-services,#roulette .subject-block>.subject-services,#wins .subject-block>.subject-services
{
    height:140px;
    width:100%;
    display:table;
    padding:8px;
}
#subjects .subject-block>.subject-services .subject-fix,#roulette .subject-block>.subject-services .subject-fix,#wins .subject-block>.subject-services .subject-fix
{
    display:table-cell;
    height:auto;
    text-align:center;
    position: relative;
}
#subjects .subject-block>.subject-services .subject-fix .subject,#roulette .subject-block>.subject-services .subject-fix .subject{
    position: absolute;
    bottom: 0;
    text-align: left;
    padding: 2px;
}
#subjects .subject-block>.subject-services .subject-fix .subject span,#roulette .subject-block>.subject-services .subject-fix .subject span,#wins .subject-block>.subject-services .subject-fix .subject span
{
    width:164px;
    display:block;
}
#subjects .subject-block>.subject-services .subject-fix .subject span:nth-child(1),#roulette .subject-block>.subject-services .subject-fix .subject span:nth-child(1),#wins .subject-block>.subject-services .subject-fix .subject span:nth-child(1)
{
    text-shadow:0 0 7px rgba(81,67,37,0.55);
    font-size:17px;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
}
#subjects .subject-block>.subject-services .subject-fix .subject span:nth-child(2),#subjects .subject-block>.subject-services .subject-fix .subject span:nth-child(3),#roulette .subject-block>.subject-services .subject-fix .subject span:nth-child(2),#roulette .subject-block>.subject-services .subject-fix .subject span:nth-child(3),#wins .subject-block>.subject-services .subject-fix .subject span:nth-child(2),#wins .subject-block>.subject-services .subject-fix .subject span:nth-child(3)
{
    line-height:12px;
    font-size:11px;
    color:#dbdbdb;
    text-shadow:0 2px 4px rgba(133,214,0,0.25);
}
#subjects .subject-block>.subject-services .subject-fix .subject span:nth-child(3),#roulette .subject-block>.subject-services .subject-fix .subject span:nth-child(3),#wins .subject-block>.subject-services .subject-fix .subject span:nth-child(3)
{
    margin-bottom:5px;
}

.modal-backdrop-blur{
    -webkit-filter:blur(5px);
    -moz-filter:blur(5px);
    -o-filter:blur(5px);
    -ms-filter:blur(5px);
    filter:blur(5px);
}

#wins .subject-block .subject-price{
    position: absolute;
    z-index: 3;
    top: -4px;
    right: 6px;
    color: #231b02;
    font-size: 13px;
    font-weight: 700;
    padding: 5px 12px 5px 5px;
}
#wins .subject-block {
    overflow: visible;
}

#wins .subject-block .subject-price:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
    background-color: #f5bd09;
    -webkit-transform: skewX(-15deg);
    transform: skewX(-15deg);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    border-radius: 1px;
    -webkit-box-shadow: 0 8px 15px rgba(0,0,0,.2);
    box-shadow: 0 8px 15px rgba(0,0,0,.2);
}

#wins .subject-block .subject-hover {
    color: #ffc607;
    position: absolute;
    bottom: 15px;
    width: 100%;
    opacity: 0;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
    -webkit-transition: opacity .3s ease,-webkit-transform .3s ease;
    transition: opacity .3s ease,-webkit-transform .3s ease;
    transition: transform .3s ease,opacity .3s ease;
    transition: transform .3s ease,opacity .3s ease,-webkit-transform .3s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 2;
}

#wins .subject-block:hover .subject-hover {
    -webkit-transform:none;
    transform:none;
    opacity:1
}

#wins .subject-block .subject-hover a{
    display: inline-block;
    border: 1px solid #efa406;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 55px rgba(255,85,0,.4), 0 0 19px rgba(255,85,0,.7);
    box-shadow: inset 0 0 55px rgba(255,85,0,.4), 0 0 19px rgba(255,85,0,.7);
    text-transform: uppercase;
    color: #ffc607;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    text-shadow: 0 0 5px #ff7202;
    font-size: 11px;
    position: relative;
    overflow: hidden;
    padding: 4px 16px;
    background: none;
    margin-right: 2px;
    margin-left: 3px;
    background: #000000de;
}

.bonuses-title{
    text-transform: uppercase;
    color: var(--sidebar-gradient-1);
    text-shadow: 0 0 5px var(--sidebar-gradient-1);
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.bonuses-but{
    color: #ffc607;
    position: relative;
    top: 20px;
}
.bonuses-but a{
    display: inline-block;
    border: 1px solid var(--span-color-back);
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 55px rgba(255,85,0,.4), 0 0 19px rgba(255,85,0,.7);
    box-shadow: inset 0 0 55px var(--span-color), 0 0 19px var(--span-color);
    text-transform: uppercase;
    color: var(--sidebar-gradient-1);
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    text-shadow: 0 0 5px var(--sidebar-gradient-1);
    font-size: 12px;
    position: relative;
    overflow: hidden;
    padding: 10px 27px;
    background: none;
    margin-right: 5px;
    margin-left: 10px;
}

.bonuses-but a:hover,#wins .subject-block .subject-hover a:hover {
    text-decoration: none;
    border-color: var(--span-color);
    -webkit-box-shadow: inset 0 0 30px var(--span-color), 0 0 15px  var(--span-color);
    box-shadow: inset 0 0 30px var(--span-color), 0 0 15px var(--span-color);
    cursor: pointer;
}


#drop-area
{   
    margin-top: 43px;
    margin-bottom: 43px;
    font-size: 12px;
    border: 2px dashed #515151;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
}

#drop-area p
{
    font-size: 9px;
}

#drop-area.highlight
{
     border-color: var(--span-color);
}

.my-form {
  margin-bottom: 10px;
}
#gallery {
  margin-top: 10px;
}
#gallery img {
  width: 150px;
  margin-bottom: 10px;
  margin-right: 10px;
  vertical-align: middle;
}
#fileElem {
  display: none;
}

.float_none
{
    float: none !important;
}

.swal2-container
{
	backdrop-filter: blur(12px);
    background: url(../../../../app/modules/module_page_open_case/assets/img/rally.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.wins-select
{
    width: 70%;
    background: transparent;
    color: var(--sidebar-gradient-1);
    padding: 10px;
    border: 1px solid var(--span-color);
    border-radius: 3px;
    margin: 20px;
    box-shadow: inset 0 0 30px var(--span-color), 0 0 15px var(--span-color);
    cursor: pointer;
}